---
import Layout from "@/layouts/Layout.astro";
import { profile } from "@/settings";
import BetterIcon from "@/components/ui/BetterIcon.astro";
import List from "@/components/ui/List.astro";
import {RESEARCH_ICONS} from "@/data/researchIcons";

const { research_areas } = profile;
---

<Layout title="Research | Kangbeen Ko">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8">Research</h1>

    <div class="mb-12">
      <p class="text-lg mb-6">
        My research focuses on <span class="text-accent font-bold">human-computer interaction (HCI)</span> and <span class="text-accent font-bold">AI technologies</span> that enhance human capabilities.
        Through user-centered design and interdisciplinary approaches, I aim to create intelligent systems that
        seamlessly integrate into our daily lives and provide meaningful assistance.
      </p>
    </div>

    <h2 class="text-2xl font-bold mb-6">Research Areas</h2>
    <div class="grid gap-8 mb-12">
      {
        research_areas.map((area) => (
          <div class="flex gap-6 items-center">
            <BetterIcon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="#00cea9"
                class="size-6"
              >
                <path
                  d={RESEARCH_ICONS[area.field as keyof typeof RESEARCH_ICONS]?.path}
                />
              </svg>
            </BetterIcon>
            <div>
              <h3 class="text-xl font-semibold mb-2">{area.title}</h3>
              <p class="text-base">{area.description}</p>
            </div>
          </div>
        ))
      }
    </div>

    <!-- <List listTitle="Current Projects" listItems={[
      {
        title: "Share your OOTD",
        description: "Share and keep track of your OOTDs with ease—our AI puts together a gorgeous catalog just for you."
      }
    ]} /> -->

  </div>
</Layout>
